@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Miles' Website";
    ViewBag.Header = "Hi! My name is Miles Paulson welcome to this website!";

}
<body>
    <center>
        <img src="~/NewFolder1/62904176700__E04B7BB4-C3F6-4CD4-A1BE-D070A76B919D.jpg" width="750" height="500" />
        <br />
        <p>
            I am very excited to take this class and be able to add to my arsenal of coding skill, I feel as though i have been able to learn a lot of skills
            up to this point and want to implement MVC and ASP.net into my repetoire of skills. I also am hyped to do more Javascript cause I really enjoyed learning it in
            IS 303. I would be way down to do some python again cause I also really enjoyed learning and applying python django into building a website but I suppose we will see
            what happens this semsester!
        </p>
        <br />
        <br />
        <!--This is my unordered list of my top three jobs-->
        <b>These are my top three potential jobs as of right now!</b>
    </center>
    <ul id="job">
        <li> CyberSecurity Analyst</li>
        <li> Data Scientist</li>
        <li> AI Developer</li>
    </ul>
    
</body>

