body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #560da9;
}

label {
    font-size: 20px;
    color: #560da9;
    width: 100px;
    display: inline-block;
}

ul {
    margin-left: 565px;
}

    ul.job li {
        list-style-type: disc;
    }

input.submitButton {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

    input.submitButton:hover {
        opacity: 1
    }
